.add-task-container{
    padding-top: 3%;
    display: flex;
    flex-direction: row;
    column-gap: 0px;
    justify-content: center;
}

.input-task{
    border-radius: 3px;
    width: 30em;
}

.update-task{
    border-radius: 3px;
    width: 18em;
}