.tasks-container{
    padding-top: 3%;
    padding-bottom: 3%;
    align-items: center;
    background-color: #F0F0F1;
    width: 40%;
    margin: auto;
    border-radius: 10px;
    max-height:450px;
    overflow-y: auto;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

.tasks-list{
    width:90%;
    background-color:rgb(56, 60, 67);
    border: 3px black solid;
    text-align: left;
    margin: auto;
    /* height:50px;
    line-height: 50px; */
    display: grid;
    grid-template-columns: 55%  45%;	
    row-gap: 1em;
}

.initial-task{
    font-size: calc(10px + 2vmin);
    color: white; 
    padding:5px;
    cursor: pointer;
}

.completed{
    font-style: italic;
    color: gray;
    text-decoration: line-through;
}

/* Done Button */

.done{
    background-color:greenyellow;
    margin-left: 10px;
}

.delete{
    background-color:maroon;

}