.tasks-container{
    align-items: center;
    background-color: #F0F0F1;
    width: 40%;
    margin: auto;
    border-radius: 20px;
    max-height:600px;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

.tasks-list{
    width:100%;
    background-color:#c8cbf2;
    border: 3px black solid;
    text-align: left;
    margin: auto;
    display: grid;
    grid-template-columns: 55%  45%;	
    row-gap: 1em;
}

.initial-task{
    font-size: calc(10px + 2vmin);
    color: black; 
    padding:5px;
    cursor: pointer;
}


.completed{
    font-style: italic;
    color: gray;
    text-decoration: line-through;
}

.done{
    background-color:greenyellow;
    margin-left: 10px;
}

.delete{
    background-color:#d72c4a;

}

.update{
    background-color: white;
}

.cancel{
    background-color:orange;

}

.update:hover{
    color: rgba(35, 33, 33, 0.65);
    transform: translateY(-1px);
}


@media only screen and (max-width: 1450px){
    .tasks-container{
        align-items: center;
        width: 90%;
        max-height:450px;
    }
    .done{
        width: 100px;
    }
    .delete{

        width: 100px;
        margin-bottom: 5px;
    }
}


@media only screen and (max-width:600px){
    .tasks-container{
        align-items: center;
        width: 90%;
        max-height:450px;
    }
    .done{
        margin-left: 70px;
        width: 100px;
    }
    .delete{
        margin-left: 70px;
        width: 100px;
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 430px){
    .tasks-container{
        width: 100%;
    }
    .done{
        margin-left: 35%;
        width: 60%;
        height: 20px;
    }
    .delete{
        margin-left:35%;
        width: 60%;
        height: 20px;
        margin-bottom: 5px;
    }
}

@media only screen and (max-height:1370px){
    .tasks-container{
        max-height: 1000px;
    }
}

@media only screen and (max-height:920px){
    .tasks-container{
        max-height: 620px;
    }
}


@media only screen and (max-height:880px){
    .tasks-container{
        max-height: 600px;
    }
}

@media only screen and (max-height:650px){
    .tasks-container{
        max-height: 400px;
    }
}